@font-face{
font-family: "PT Sans Narrow";
src: url(../Barber/fonts/web/ptsansnarrow.woff2) format("woff2"),
        url(../Barber/fonts/web/ptsansnarrow.woff) format("woff"),
        local('PT Sans Narrow');

font-weight: normal;
}
@font-face{
font-family: "PT Sans Narrow";
src: url(../Fonts/web/ptsansnarrowbold.woff2) format("woff2"),
        url(../Fonts/web/ptsansnarrowbold.woff) format("woff"),
        local('PT Sans Narrow');
font-weight:bold;
}


body{
    
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    background-color: black;
    background-image: url(../Img/Index/backgroundBody.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.visually-hidden{
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

a{  font:inherit;
    text-decoration: none;
    color: white;
}

.button{
    display: block;
    

    text-align: center;
    font: inherit;
    border: none;
    border-radius: none;
    background-color: black;
    text-transform: uppercase;
    color: white;
}
.button:hover,
.button:focus{
    background-color: rgb(145, 73, 40);
}
                                                        /* header */
.main-header{
    margin: 0 auto;
    background-color: black;
    margin-bottom: 60px;

}
.main-navigation{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-navigation-list{
    max-width: 620px;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    list-style: none;

}
.main-navigation-item a{
    display: block;
    padding: 0px 20px;
    letter-spacing: 0.1px;
    font-size: 16px;
    font: inherit;
   

}
.main-navigation-item a:hover{
 background-color: rgb(87, 95, 104);
 
}
.main-navigation-item a:focus{
    outline-color: rgb(194, 208, 223);
    background-color: rgb(87, 95, 104);
    
}

.login-menu{
    max-width: 280px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}
.enter{
    position: relative;
}
.enter::before{
    position: absolute;
    left: 25px;
    content: url(../Icons/Index/login.svg);
    opacity: 30%;
   
}
.login-menu-item button{
    width: 107px;
    padding: 25px 0px;
    padding-right: 20px;
    padding-left: 50px;
}
.login-menu-item button:hover,
.login-menu-item button:focus{
    outline: none;
    background-color: rgb(87, 95, 104);
}
.enter:hover::before{
opacity: 100%;
cursor: pointer;
}
.enter:focus::before{
    opacity: 100%;
    }
.main-navigation-item span{
    display: flex;
    align-items: center;
    height:68px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.selected span{

    border-bottom:2px solid white;

}
                                                        /* Advantages */
.wrap-logo-advantages{
 width:940px;
 margin: 0 auto;
 margin-bottom: 78px;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.main-logo{
    margin-bottom: 40px;
}
.advantage-list{
   width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;


    list-style: none;
}
.advantage-item{
    width: 300px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantage-item h2{
    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
}
.advantage-item h2{
    position: relative;
}
.advantage-item h2::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;

    transform: rotate(45deg);

    background-color: ivory;

}
.advantage-item p{
margin: 0;
font-size: 14px;
line-height: 24px;
color: #f7f4f1;
font-weight: 700;
font-family: "PT Sans Narrow";
text-align: center;
}

                                                            /* newsblock */
                            
                                                
.content{
    display: flex;
    /* box-sizing: border-box; */
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding-top: 20px;
    background-color: khaki;
    background-image: url(../Img/Index/string.svg),
    url(../Img/Index/backNews.png);
    background-position:center, 0 0;
    background-repeat: no-repeat, repeat;

    color: black;
}

.news-content{
    width: 348px;
    padding-top: 25px;
    padding-bottom: 49px;
    margin-left: 82px;
    font:inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: left;

}
.news-content h2{
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
    font-size: 30px;
}
.news-content p{
    margin: 0;
    padding: 0;


    line-height: 25px;
    letter-spacing: 0.1px;
}
.news-content time{
    display: block;
    margin-bottom: 25px;
    text-transform: lowercase;
    font-size: 14px;
}
.news-text{
    margin-bottom: 32px;
}
.news-content .button{
    padding: 14px 0;
    width: 140px;
   
    vertical-align: middle;
}

.foto-gallery{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    padding-top: 25px;
    width: 300px;
}
.foto-gallery h2{
    margin: 0;
    margin-bottom: 23px;
    padding: 0;

    font-size: 30px;
    letter-spacing: 1px;
}
.foto-gallery figure{
    margin: 0;
    margin-bottom: 36px;
    width: 285px;
    height: 164px;
    border: 8px solid white;
    background-color: turquoise;
}
.buttons-wrap{
    display: flex;
    justify-content: space-between;
}
.buttons-wrap button{
    width: 140px;
    height: 44px;

    font-size: 14px;
}

                                                    /* user-activity */
.user-activity{
display: flex;
justify-content: space-between;
width: 940px;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 50px;
margin-bottom: 65px;
background-color: khaki;
background-image: url(../Img/Index/string.svg),
url(../Img/Index/backNews.png);
background-position:center, 0 0;
background-repeat: no-repeat, repeat;
color: black;

}
.contact-info{
width: 323px;
margin-left: 81px;
padding-top: 24px;
}
.contact-info h2{
margin: 0;
margin-bottom: 24px;

font-size: 30px;
}
.contact-info p{
margin: 0;
padding: 0;

font-size: 14px;
line-height: 23px;
}
.contact-info p:nth-child(2){
margin-bottom: 23px;
}
.contact-info-wrap{
margin-bottom: 25px;
}
.buttons-wrap-contact{
display: flex;
justify-content: space-between;
width: 300px;
}
.buttons-wrap-contact button{
width: 140px;
padding: 10px 0;

font-size: 14px;
}
.appointment{
width: 300px;
margin-right: 77px;
margin-top: 25px;
}
.appointment h2{
margin: 0;
margin-bottom: 25px;
font-size: 30px;
}
.appointment p:first-of-type{
    margin: 0;
    margin-bottom: 25px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;

}
.appointment form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.appointment input{
    width: 140px;
    height: 43px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 15px;
   

    border: 2px solid black;
    background-color: inherit;
    box-sizing: border-box;
    font: inherit;
    font-size: 14px;
    color: #545454;
}
.input-wrap{
    position: relative;
}
.input-wrap input:hover,
.input-wrap input:focus{
border-color: sienna;
}
.appointment form label{
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 14px;
}
.form-button{
    width: 300px;
    margin: 0;
    padding: 13px 0;

    font: inherit;
    font-size: 14px;
    color: white;
    background-color: black;
    border: none;
    text-transform: uppercase;
}
.form-button:hover,
.form-button:focus{
    background-color: rgb(145, 73, 40);
}

                                                                        /* footer */
.main-footer{
 background-color: dimgray;
 background-image: url(../Img/Index/backGroundFooter.jpg);
 background-position: 0 0;
 background-repeat: repeat;
}
.main-footer-wrap{
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    
}
.main-footer p{
    font-size: 14px;
    line-height: 24px;
}
.contacts-footer{
    width: 307px;
    margin-right: 95px;
}
.social-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.footer-social-icon{
    display: flex;
  
    width: 43px;
    height: 43px;
    margin-left: 3px;
    margin-bottom: 5px;

    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-social-icon:hover{
    background-color: white;

}
.social-item:hover path{
    fill: black;
}
.footer-social{
    width: 140px;
    text-align: center;
}
.footer-copyright{
    width: 140px;
    margin-left: auto;
    padding-top: 10px;


    text-align: center;
}
.footer-copyright p{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.footer-copyright a{
    
    font-size: 14px;
    padding: 15px 0;
}
.footer-copyright a:hover,
.footer-copyright a:focus{
    background-color: white;
    color: black;
}
.disable{
    display: none;
}
                                                    /* popup-login */
.login-popup{
position: fixed;
top:50%;
left: 50%;
padding:0px 80px;
padding-top: 45px;
padding-bottom: 59px;
margin-top: -190px;
margin-left: -230px;
width: 460px;
height: 385px;
box-sizing: border-box;

background-color: wheat;
background-image: url(../Img/Index/backNews.png);
background-position: 0 0;
background-repeat: repeat;

color: black;
text-align: center;

display: none;
}
.login-popup h2{
    margin: 0;
    margin-bottom: 20px;
    font-family: "PT Sans Narrow";
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
}
.login-popup p{
    margin: 0;
    margin-bottom: 11px;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    
}

.user-input{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 30px;
    

    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
 
 
}
.user-input::placeholder{
    color: black;
    font-family: "PT Sans Narrow";
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
input#login{
    margin-bottom: 9px;
    background-image: url(../Icons/Index/user-login.svg);
    background-repeat: no-repeat;
    background-position:270px 15px;
}
input#password{
    margin-bottom: 15px;
    background-image: url(../Icons/Index/lock-login.svg);
    background-repeat: no-repeat;
    background-position:270px 15px;
}
.checkbox-wrap{
    display: flex;
    margin-bottom: 19px;
    justify-content: space-between;
    position: relative;
}
.checkbox-wrap label{
    display: flex;
}
.visual-checkbox{
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 12px;

    border: 2px solid black;

}
.checkbox-wrap input:checked +.visual-checkbox{
    background-image: url(../Icons/Index/cross-small.svg);
    background-position: center;
    background-repeat: no-repeat;
   
}
.checkbox-wrap a{
    color:black;
    text-decoration: underline;
}
.login-popup form button{
    width: 100%;
    height: 43px;

    background-color: black;
    font: inherit;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border: none;

}
.login-close-button{
    position: absolute;
    top:0px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../Icons/Index/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}